.signup{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),transparent), url("../../public/assets/images/fondSignup.webp") ;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerFormSignup{
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0 0 0 / 35%);
    margin: 0 auto;
    padding: 20px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.formSignup{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.h2Signup{
    margin: 30px 0;
    color: #fff;
    font-size: 2.5rem;
}

.inputSignup{
    width: 100%;
    border: none;
    border-bottom: 1px solid #a93138 ;
    background: none;
    outline: none;
    padding: 15px 5px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2rem;
    
}
.inputSignup::placeholder{
    color: #fff;
    font-size: 2rem;
}
.labelSignup{
    display: none;
}

.buttonSignup{
    width: 50%;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 1rem 2rem;
    background-color: #a93138;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    -webkit-transition: transform 0.3s ease,box-shadow 0.3s ease;
    -moz-transition: transform 0.3s ease,box-shadow 0.3s ease;
    -ms-transition: transform 0.3s ease,box-shadow 0.3s ease;
    -o-transition: transform 0.3s ease,box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 0, 0 0.3);
    font-size: 1.5rem;
}

.buttonSignup:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: translate(-5px);
    -webkit-transform: translate(-5px);
    -moz-transform: translate(-5px);
    -ms-transform: translate(-5px);
    -o-transform: translate(-5px);
}

.spanSignup{
    color: #fff;
    margin-top: 10px;
    font-size: 2rem;
}

.linkSignup {
    color: #a93138;
    font-size: 2rem;
}
